<!DOCTYPE html>
<html>
  <head>
    <title>SongsPlayer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/songs">Songs</a>
          </li>
        </ul>

      </nav>
    <%= yield %>
  </body>
</html>
